html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	/* FONT_FAMILY_ROOT */
	/* FONT_SIZE_ROOT */
}

html {
	color-scheme: dark;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}
	cursor: none;
}

@keyframes scanlines {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -600% 500%;
	}
}

@keyframes pulse {
	0% {
		opacity: 0.7;
	}
	20% {
		transform: scale(1);
	}
	20.1% {
		transform: scale(1.2) translateY(-20px);
	}
	20.3% {
		transform: scale(1) translateY(3px);
	}
	30% {
		transform: skew(0);
	}
	30.1% {
		transform: skew(250deg, 5deg);
	}
	30.2% {
		transform: skew(0) scale(0.98);
	}
	44% {
		opacity: 0.7;
		transform: scale(1);
	}
	44.9% {
		opacity: 1;
		transform: scale(1);
	}
	45% {
		transform: scale(1.1) translateY(-30px) rotateZ(-1deg);
	}
	45.1% {
		transform: scale(1);
	}
	60% {
		transform: rotateY(3deg);
	}
	80% {
		opacity: 0.7;
	}
	80.1% {
		opacity: 1;
		transform: scale(1);
	}
	80.2% {
		opacity: 0.7;
		transform: scale(1.02);
	}
	80.3% {
		transform: scale(1.02) translateX(1vw) translateY(50vh);
	}
	80.6% {
		transform: scale(0.9) translateX(1vw);
	}
	100% {
		opacity: 0.7;
	}
}

body {
	position: relative;
	background: rgb(0 0 0);

	/* Starfield */
	> canvas {
		transition:
			ease-out transform 0.9s,
			ease-out opacity 2s;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		/* should be 0, but media viewer is invisible, flickers on move */
		z-index: 0;
		user-select: none;
		pointer-events: none;
	}

	/* Graph */
	> svg {
		transition: ease-in opacity 6s;

		padding: 0 50vw;
		user-select: none;
		z-index: 1;
		transform: translateZ(0px);

		& *:focus {
			outline: none;
		}

		g.event,
		g.edge {
			transition: all ease-in-out 5s;
			filter: none;
		}
	}

	/* Focus Highlight */
	#target {
		position: fixed;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		left: calc(50vw - 2.5cm);
		width: 5cm;
		top: calc(50vh - 2.5cm);
		height: 5cm;
		border: 2mm dotted rgb(0 255 0 / 0.2);
		border-radius: 50%;

		opacity: 0;
		transition: opacity ease-in-out 3s;
		&.visible {
			transition: opacity normal 0s;
			opacity: 1;
		}

		.inner {
			position: fixed;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			left: calc(50vw - 1.5cm);
			width: 3cm;
			top: calc(50vh - 1.5cm);
			height: 3cm;
			border: 1.5mm dashed rgb(0 255 0 / 0.4);
			border-radius: 50%;

			.inner {
				position: fixed;
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				left: calc(50vw - 0.25cm);
				width: 0.5cm;
				top: calc(50vh - 0.25cm);
				height: 0.5cm;
				border: 1mm solid rgb(0 255 0 / 0.6);
				border-radius: 50%;
			}
		}
	}
	#target-focus {
		position: absolute;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		/*
		background: repeating-linear-gradient(
			45deg,
			rgba(255, 0, 255, 0),
			rgba(255, 0, 255, 0) 2mm,
			rgba(255, 0, 255, 0.5) 2mm,
			rgba(255, 0, 255, 0.5) 4mm
		);
		*/
		border: 2mm solid white;
		border-radius: 2mm;
		pointer-events: none;
		z-index: 2;
		transform: translateZ(0px);
		transition:
			top ease-out 0.1s,
			left ease-in-out 0.5s,
			width ease-in-out 0.5s,
			height ease-in-out 0.5s,
			opacity normal 0s;

		opacity: 0;
		&.visible {
			opacity: 1;
		}
	}

	/* Media Viewer */
	dialog {
		transition: ease-out transform 0.2s;

		position: fixed;
		z-index: 3;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		border: none;
		outline: none;
		background-color: transparent;

		transform-style: preserve-3d;
		transform-origin: top;

		display: none;
		&:open {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&::backdrop {
			display: none;
		}

		img {
			flex: 1;
			width: 1024px;
		}
		iframe {
			width: 1024px;
			height: 150px;
			border: none;
			overflow: hidden;
		}
	}

	section#calendar,
	section.calendar {
		transition:
			ease-in-out opacity 0.6s,
			ease-in-out transform 0.5s;

		display: grid;
		z-index: 4;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 3mm 1mm;
		background-color: rgb(0 0 0 / 0.8);
		transform: translateY(-100%);
		transform-origin: top;
		opacity: 0;

		color: rgb(255 255 255 / 1);
		user-select: none;

		&.open {
			transform: perspective(50vh) rotateX(0deg);
			opacity: 1;
		}

		.date {
			/* FONT_SIZE_BROWSE */
			padding: 0 1vmin;
			margin: 0;
		}
		.text {
			/* FONT_SIZE_STUDY */
			white-space-collapse: preserve-breaks;
			padding: 0 1vmin;
			margin: 0;
		}
	}
	section#dashboard {
		display: flex;
		flex-direction: column;

		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		margin: 0;
		padding: 0;
		z-index: 4;

		#artifacts {
			transition:
				ease-in-out opacity 0.6s,
				ease-in-out transform 0.5s;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 5mm;
			margin: 5mm;

			width: 100vw;
			transform: translateY(10vmin);
			opacity: 1;

			&.open {
				transform: none;
				opacity: 1;
			}

			.artifact {
				transition:
					ease-in-out opacity 0.6s,
					ease-in-out transform 0.5s;

				opacity: 1;
				transform: none;

				&.pending {
					opacity: 0;
				}
			}
		}
		#status {
			transition:
				ease-in-out opacity 0.6s,
				ease-in-out transform 0.5s;

			display: flex;
			flex-direction: column;
			z-index: 4;

			width: 100vw;
			transform: translateY(10vmin);
			opacity: 0;

			color: rgb(255 255 255);
			background-color: rgb(0 0 0 / 0.8);
			/* FONT_SIZE_BROWSE */
			user-select: none;

			&.open {
				transform: none;
				opacity: 1;
			}

			.shoulders {
				/* FONT_SIZE_READ */
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				opacity: 0;
				height: 0;

				transition:
					ease-in-out opacity 0.5s,
					ease-in-out height 0.5s;

				&.visible {
					opacity: 1;
					height: calc(1.2em + 1vmin);
				}

				.shoulder {
					padding: 0.5vmin 1vmin;
					background-color: rgb(42, 42, 42);
					width: 10em;
					opacity: 0;
					transform: scale(0.9);
					transition:
						ease-in-out opacity 0.3s,
						ease-in-out transform 0.2s;

					&.left {
						text-align: right;
						margin-left: 2em;
						border-radius: 20px 0 0 20px;

						&::after {
							content: "LB";
							color: rgb(166, 166, 166);
							margin-left: 1em;
						}
					}

					&.right {
						text-align: left;
						margin-right: 2em;
						border-radius: 0 20px 20px 0;

						&::before {
							content: "RB";
							color: rgb(166, 166, 166);
							margin-right: 1em;
						}
					}

					&.visible {
						opacity: 1;
						transform: scale(1);
					}
				}
			}

			.intro {
				/* FONT_SIZE_STUDY */
				margin: 0.5em 0 -0.5em 1em;
				color: rgb(189, 189, 189);
				z-index: 1;
			}
			.text {
				/* FONT_SIZE_BROWSE */
				padding: 0;
				margin: 0 0 0 1em;
				text-align: left;
			}
			.buttons {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: end;
				position: relative;
				right: 0;
				bottom: 0;
				margin-bottom: 0.25em;

				opacity: 0;
				transform: scaleY(0);
				transition:
					ease-in-out transform 0.4s,
					ease-in-out opacity 0.3s;

				&.visible {
					transform: none;
					opacity: 1;
					min-height: 1em;
				}

				div.button {
					.button {
						display: inline-block;
						color: rgb(255 255 255 / 0.95);
						opacity: 0.95;
						font-weight: bold;
						/* FONT_SIZE_READ */
						width: 1em;
						height: 1em;
						line-height: 1em;
						text-align: center;
						border-radius: 50% 50%;
						text-shadow:
							0 0 0.2vmin rgb(0 0 0 / 0.5),
							1px 1px 0 black;
						filter: drop-shadow(0 0 0.1vmin black);
						user-select: none;
						margin-right: 1vmin;
					}

					.label {
						/* FONT_SIZE_READ */
						margin-right: 2vmin;
					}

					&.a .button {
						background-color: rgb(0 128 0 / 0.75);
						border: 0.2vmin solid rgb(0 128 0);
					}
					&.b .button {
						background-color: rgb(255 0 0 / 0.75);
						border: 0.2vmin solid rgb(255 0 0);
					}
					&.x .button {
						background-color: rgb(0 0 255 / 0.75);
						border: 0.2vmin solid rgb(0 0 255);
					}
					&.y .button {
						background-color: rgb(255 255 0 / 0.75);
						border: 0.2vmin solid rgb(255 255 0);
					}
					&.start .button {
						background-color: rgb(55 55 55 / 0.75);
						border: 0.2vmin solid rgb(33 33 33);
						border-radius: 40% 40%;
						line-height: 1.25em;
						height: 1.25em;
						width: unset;
						max-width: 5em;
						padding: 0 0.25em;
						transform: scale(0.5);
					}
				}
			}
		}
	}
	section#menu {
		transition:
			ease-in-out opacity 0.6s,
			ease-in-out transform 0.5s;

		display: flex;
		flex-direction: row;
		z-index: 4;
		position: fixed;
		top: 0;
		bottom: 0;
		height: 100vh;
		min-width: 100mm;
		margin: 0;
		padding: 4mm 0 0 4mm;
		background-color: rgb(0 0 0 / 0.8);
		transform: translateX(-100%);
		opacity: 0;

		&.open {
			transform: none;
			opacity: 1;
		}

		h2 {
			/* FONT_SIZE_BROWSE */
			color: rgb(255 255 255 / 1);
			user-select: none;
		}

		.level {
			display: flex;
			flex-direction: column;

			&:not(.active) {
				opacity: 0.6;
			}
		}

		.item {
			transition: ease-in-out all 0.3s;

			/* FONT_SIZE_READ */
			color: rgb(255 255 255 / 1);
			user-select: none;
			padding: 0.5em 1em;
			border: 1mm solid transparent;

			&.active {
				background-color: rgb(255 255 255 / 0.1);
				border: 1mm solid rgb(255 255 255 / 0.8);
				font-weight: bold;
			}
		}
	}

	/* Loading Screen */
	> .loader {
		transition: ease-in opacity 6s;

		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: center;

		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		z-index: 5;
		transform: translateZ(0px);
		box-sizing: border-box;
		border: 1vmin solid rgb(0 0 0 / 1);
		border-radius: 4vmin;
		user-select: none;
		pointer-events: none;
		opacity: 0;
		/*mix-blend-mode: overlay;*/

		animation: scanlines infinite 1s linear;
		background:
			repeating-radial-gradient(#000 0 0.0001%, #181810 0 0.0002%) 50% 0 /
			2500px 500px,
			repeating-conic-gradient(#000 0 0.0001%, #222 0 0.0002%) 60% 60% / 2500px
			500px,
			repeating-linear-gradient(#000, #000 10px, #111 10px, #1a1a1a 11px);
		background-blend-mode: difference;
		background-color: rgb(0 0 0);

		svg {
			animation: pulse 18s infinite;
			position: fixed;
			top: 5vh;
			left: 5vw;
			width: 90vw;
			height: 90vh;
			opacity: 0.1;
			mix-blend-mode: multiply;
			z-index: 0;
		}
		pre {
			animation: pulse 18s infinite;
			text-align: left;
			font-size: 15mm;
			line-height: 18mm;
			padding: 0 10mm;
			white-space: pre-line;
			background: repeating-linear-gradient(
				180deg,
				rgb(255, 255, 255),
				rgb(113, 113, 113) 1lh
			);
			background-clip: text;
			text-shadow:
				-2px -1px 0.2vmin rgb(255 0 0 / 0.2),
				-4px 1px 0.2vmin rgb(0 255 0 / 0.2),
				-6px 0 0.2vmin rgb(0 0 255 / 0.2);
			color: rgb(0 0 0 / 0);
			z-index: 1;

			small {
				font-size: 8mm;
				line-height: 15mm;
				background: repeating-linear-gradient(
					180deg,
					rgb(255, 255, 255),
					rgb(113, 113, 113) 15mm
				);
				background-clip: text;
				white-space: normal;
			}

			/*
			mask:
				linear-gradient(#000 0 0) padding-box,
				linear-gradient(#000 0 0) content-box;
			mask-composite: exclude;
			transition: mask linear 15s;
			*/
		}
	}

	&.loading > .loader {
		opacity: 1;
	}
	&.loading > svg {
		opacity: 0;
	}
	&.loading > section {
		opacity: 0;
	}
}
