html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
}

html {
	color-scheme: dark;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}
}

svg {
	transition: ease-in opacity 6s;

	user-select: none;
}

@keyframes scanlines {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -600% 500%;
	}
}

@keyframes pulse {
	0% {
		opacity: 0.7;
	}
	20% {
		transform: scale(1);
	}
	20.1% {
		transform: scale(1.2) translateY(-20px);
	}
	20.3% {
		transform: scale(1) translateY(3px);
	}
	30% {
		transform: skew(0);
	}
	30.1% {
		transform: skew(250deg, 5deg);
	}
	30.2% {
		transform: skew(0) scale(0.98);
	}
	44% {
		opacity: 0.7;
		transform: scale(1);
	}
	44.9% {
		opacity: 1;
		transform: scale(1);
	}
	45% {
		transform: scale(1.1) translateY(-30px) rotateZ(-1deg);
	}
	45.1% {
		transform: scale(1);
	}
	60% {
		transform: rotateY(3deg);
	}
	80% {
		opacity: 0.7;
	}
	80.1% {
		opacity: 1;
		transform: scale(1);
	}
	80.2% {
		opacity: 0.7;
		transform: scale(1.02);
	}
	80.3% {
		transform: scale(1.02) translateX(1vw) translateY(50vh);
	}
	80.6% {
		transform: scale(0.9) translateX(1vw);
	}
	100% {
		opacity: 0.7;
	}
}

.loader {
	transition: ease-in opacity 6s;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	box-sizing: border-box;
	border: 1vmin solid rgb(0 0 0 / 1);
	border-radius: 4vmin;
	user-select: none;
	pointer-events: none;

	animation: scanlines infinite 1s linear;
	background:
		repeating-radial-gradient(#000 0 0.0001%, #181810 0 0.0002%) 50% 0 / 2500px
		500px,
		repeating-conic-gradient(#000 0 0.0001%, #222 0 0.0002%) 60% 60% / 2500px
		500px,
		repeating-linear-gradient(#000, #000 10px, #111 10px, #1a1a1a 11px);
	background-blend-mode: difference;
	background-color: rgb(0 0 0);

	pre {
		animation: pulse 18s infinite;
		text-align: center;
		font-size: 1.5em;
		line-height: 1.5em;
		white-space: pre-line;
		z-index: 2;
		background: repeating-linear-gradient(180deg, white, black 1lh);
		background-clip: text;
		text-shadow:
			-2px -1px 0.2vmin rgb(255 0 0 / 0.2),
			-4px 1px 0.2vmin rgb(0 255 0 / 0.2),
			-6px 0 0.2vmin rgb(0 0 255 / 0.2);
		color: rgb(0 0 0 / 0);
	}
	svg {
		animation: pulse 18s infinite;
		position: fixed;
		top: 5vh;
		left: 5vw;
		width: 90vw;
		height: 90vh;
		opacity: 0.1;
		mix-blend-mode: multiply;
	}
}

body {
	position: relative;
	background: rgb(0 0 0);

	&.loading > *:not(.loader) {
		opacity: 0;
	}
	&.loading > .loader {
		opacity: 1;
	}
	&:not(.loading) > *:not(.loader) {
		opacity: 1;
	}
	&:not(.loading) > .loader {
		opacity: 0;
		mix-blend-mode: add;
	}
}

canvas {
	transition:
		ease-out transform 0.9s,
		ease-out opacity 2s;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	user-select: none;
	pointer-events: none;
}

#calendar {
	transition: ease-in opacity 6s;

	display: grid;
	z-index: 5;

	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	background-color: rgb(0 0 0 / 0.7);
	transform: translateY(-10vmin);

	color: rgb(255 255 255);
	font-family: sans-serif;
	user-select: none;

	&.open {
		transition: ease-out transform 0.5s;
		transform: none;
	}

	.text {
		white-space-collapse: preserve-breaks;
		padding: 0 1vmin;
	}
}
#status {
	transition: ease-in opacity 6s;

	display: grid;
	/*grid-template-columns: 20vw auto 20vw;*/
	z-index: 5;

	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	margin: 0;
	transform: translateY(10vmin);

	color: rgb(255 255 255);
	font-family: sans-serif;
	user-select: none;

	&.open {
		transition: ease-out transform 0.5s;
		transform: none;
	}

	.shoulder {
		padding: 0.5vmin 1vmin;
		grid-row: 1 / 2;
		font-size: 1.25rem;
		background-color: rgb(42, 42, 42);
		width: 12vw;

		&.left {
			grid-column: 1 / 2;
			text-align: right;
			justify-self: end;
			border-radius: 20px 0 0 20px;

			&::after {
				content: "LB";
				color: rgb(166, 166, 166);
				margin-left: 1vmin;
			}
		}

		&.right {
			grid-column: 9 / 10;
			text-align: left;
			border-radius: 0 20px 20px 0;

			&::before {
				content: "RB";
				color: rgb(166, 166, 166);
				margin-right: 1vmin;
			}
		}
	}
	.intro {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		padding: 1vmin 0 1vmin 1vmin;
		font-size: 1.5rem;
		line-height: 1.5rem;
		color: rgb(189, 189, 189);
	}
	.text {
		grid-row: 2 / 3;
		grid-column: 1 / 10;

		padding: 1vmin 1vmin 1vmin 4vmin;
		margin: 0;
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-align: left;
		background-color: rgb(0 0 0 / 0.7);
	}
	.options {
		grid-row: 3 / 4;
		grid-column: 1 / 10;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: end;
		padding-bottom: 1vmin;
		background-color: rgb(0 0 0 / 0.7);

		.button {
			display: inline-block;
			color: rgb(255 255 255 / 0.95);
			opacity: 0.95;
			font-family: sans-serif;
			font-weight: bold;
			font-size: 2vmin;
			line-height: 2vmin;
			width: 2.2vmin;
			height: 2vmin;
			text-align: center;
			border-radius: 50% 50%;
			text-shadow:
				0 0 0.2vmin rgb(0 0 0 / 0.5),
				1px 1px 0 black;
			filter: drop-shadow(0 0 0.1vmin black);
			user-select: none;
			margin-right: 1vmin;

			&.a {
				background-color: rgb(0 128 0 / 0.75);
				border: 0.2vmin solid rgb(0 128 0);
			}
			&.b {
				background-color: rgb(255 0 0 / 0.75);
				border: 0.2vmin solid rgb(255 0 0);
			}
			&.x {
				background-color: rgb(0 0 255 / 0.75);
				border: 0.2vmin solid rgb(0 0 255);
			}
			&.y {
				background-color: rgb(255 255 0 / 0.75);
				border: 0.2vmin solid rgb(255 255 0);
			}
		}

		.option {
			font-size: 2vmin;
			margin-right: 2vmin;
		}
	}
}

dialog {
	transition: ease-out transform 0.2s;

	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;

	transform-style: preserve-3d;
	transform-origin: top;

	display: none;
	&:open {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&::backdrop {
		display: none;
	}

	img {
		flex: 1;
		width: 1024px;
	}
	iframe {
		width: 1024px;
		height: 200vh;
		border: none;
		overflow: hidden;
	}
}
