html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgb(0, 0, 0);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	opacity: 1;
	transition: ease-in-out opacity 2s;
	&.loading {
		opacity: 0;
		visibility: hidden;
	}
}

svg .node {
	scroll-margin: 50vh calc(50vw - 50%);

	&:focus,
	&:has(:focus) {
		outline: 5px dashed rgb(255, 255, 255);
	}
}

canvas {
	display: block;
}
