html,
body {
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
	background-color: #000000;
}

body {
	opacity: 1;
	transition: ease-in-out opacity 2s;
	&.loading {
		opacity: 0;
		visibility: hidden;
	}
}

svg .node {
	scroll-margin: 50vh 50vw;

	&:focus,
	&:focus-visible,
	&:has(:focus) {
		outline: 5px dashed #ffffff;
	}
}
