:root {
	--focus-color: rgb(255 255 255);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}
}

body {
	position: relative;
	background: rgb(0 0 0);
	opacity: 1;
	transition: ease-in-out opacity 2s;

	&.loading {
		opacity: 0;
	}
}

svg {
	display: block;

	user-select: none;
	pointer-events: stroke;

	.node {
		scroll-margin: calc(50vh - 50%) calc(50vw - 50%);
		opacity: 0.9;

		&:focus,
		&:has(:focus) {
			outline: 5px dashed var(--focus-color);
		}
	}

	.edge {
		opacity: 0.8;
	}
}

canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	user-select: none;
	pointer-events: none;
}

#status {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(0 0 0 / 0.5);

	.text {
		color: rgb(255 255 255);
		font-family: sans-serif;
		font-size: x-large;
		text-align: left;
		padding: 1vh 2vw;
	}
}
